<% issues = Issue.where("id IN (?)", @mark.issues.map{|k,v| k}) unless @mark.issues.nil? %>

<% if not issues.nil? %>

<div class="caption"><%= l(:what_issues_are_involved_in_the_calculation) %>:</div>
<div class="issues_in_calc">
    <table class="list issues">
    <thead>
    <tr>
        <th>#</th>
        <th width="82%"><%= l(:field_issue) %></th>
        <th><%= l(:field_estimated_hours) %></th>
    </tr>
    </thead>
    <tbody>
    <% issues.each do |issue| %>
        <% css_class = (@mark.issues[issue.id.to_s].to_f<0) ? "minus" : "" %>
        <tr>
            <td><%= link_to issue.id, issue_path(issue), {:class => 'issue'} %></td>
            <td><%= link_to "<div class=\"text\"><span>#{issue.subject}</span></div><div class=\"end\"></div>".html_safe, issue_path(issue), {:class => 'unexpected_end no_line issue'} %></td>
            <td><nobr><span class="value <%= css_class %>"><%= @mark.issues[issue.id.to_s] %></span><span class="unit"></span></nobr></td>
        </tr>
    <% end %>
    </tbody>
    </table>
</div>
    
    <div class="info"><%= l(:issue_hours_in_current_period_explanation, 
                            :valued_employee => link_to_user(@mark.user), 
                            :fact => "<nobr><span class=\"fact_on_chart\">#{@mark.fact_value}</span> #{kpi_unit}</nobr>",
                            :calc_values => "<nobr><span class=\"plan_on_chart\">"+calc_values.join("</span> #{kpi_unit}</nobr>, <nobr><span class=\"plan_on_chart\">")+"</span> #{kpi_unit}</nobr>",
                            :completion => "<nobr><span class=\"fact_on_chart\">#{completion}<span> %</nobr>").html_safe %></div>
<% end %>