<% if @marks.any? %>

<%= form_tag(update_marks_kpi_index_path, :method => :post, :remote => true) do |f| %>
	<%= hidden_field_tag 'date', @date %>
	<table class="list">
			<thead>
				<tr>
				<th><%= l(:label_mark_period) %></th>
				<th><%= l(:label_kpi_indicators) %></th>
				<th style="width:5%"><%= l(:my_kpi_mark) %></th>
				</tr>
			</thead>
			<tbody>

<% 	user=nil; i=0 %>
<% @marks.each do |mark| %>
<% 
	i+=1
	indicator=mark.kpi_indicator_inspector.kpi_period_indicator.indicator
	if mark.user!=user
%>
	<tr>
		<td colspan="3">
		<div class="kpi_inspector"><%= link_to_user mark.user %></div>
		</td>
	</tr>

	<% user=mark.user %>
<% end %>

	<tr>
	<td>
		<%= format_date mark.start_date %> &mdash; <%= format_date mark.end_date %>
	</td>
	<td>
		<%= link_to_indicator indicator %>
	</td>
	<td class="fact_value">
	<nobr><%= get_indicator_input(mark, "mark[#{mark.id}]", i)  %> <%= indicator.kpi_unit.abridgement %></nobr>

	</td>
	</tr>
<% end %>

</tbody></table>

<p><%= submit_tag l(:button_save) %> </p>
<% end %>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>

<% end %>