<% 
period_user = period.kpi_period_users.where(:user_id => @user.id).first
colspan = 2
colspan = (@user.user_kpi_marks_can_be_disabled?(period_user)) ? colspan+1 : colspan 
kpi = period_user.kpi 
%> 

	<table class="list kpi_calc">
	<caption><%= pattern_name(period) %></caption>
	<thead>
		<tr>
		<th><%= l(:label_kpi_indicators) %></th>
		<th><%= l(:label_mark_period) %></th>
		<% if @user.user_kpi_marks_can_be_disabled?(period_user) %>
			<th  class="narrow"></th> 
		<% end %>
		<th class="narrow"><%= l(:weight_label) %></th>
		<th class="narrow"><%= l(:label_plan) %></th>
		<th class="narrow"><%= l(:value_of_fact) %></th>
		<th class="narrow"><%= l(:percent_of_complete) %></th>
		</tr>
	</thead>
	<tbody>

	<% cat_avg_completion = {} %>

	<% j=0 %>

	<% period.kpi_period_categories.each do |cat| %>
	

		<% color=cat.kpi_category.color %>
		<tr class="kpi_cat <%= color %>">
		<td colspan="<%= colspan %>"><%= cat.kpi_category.name %></td>
		<td><%= kpi_percent cat.percent %></td>
		<td></td>
		<td></td>
		<td id="cat_completion_<%= i %>_<%= j %>"></td>
		</tr>
		<% y=0 %>
		<% indicator_avg_completion = {} %>

		<% cat.kpi_period_indicators.joins(:indicator).order("#{Indicator.table_name}.name").each do |period_indicator| %>

			<tr class="<%= color %> kpi_indicator">
			<td colspan="<%= colspan %>"><%= link_to_indicator period_indicator.indicator %></td>
			<td><%= kpi_percent period_indicator.percent %></td>
			<td></td>
			<td></td>				
			<td id="indicator_completion_<%= i %>_<%= j %>_<%= y %>"></td>				
			</tr>
			<%
			marks = {} 
			have_enabled_marks = false
			%>
			
			<% x=0 %>
			<% period_indicator.kpi_marks.select("kpi_marks.*").joins(:inspector).where("#{KpiMark.table_name}.user_id = ?", @user.id).order("#{User.table_name}.lastname").each do |mark| %>
				<tr class="<%= color %> <%= "disabled" if mark.disabled %>">
				<td class="inspector"><%= link_to_user mark.inspector %></td>
				<td><%= mark.mark_period %> <small><%= link_to_modal_window l(:kpi_mark_desc), mark.explanation, {:class => 'static_content_only'} if mark.explanation.to_s!='' %></small></td>
				<% if @user.user_kpi_marks_can_be_disabled?(period_user) %>
					<td><%= link_to_mark_state(mark) %></td> 
				<% end %>
				<td><%= kpi_percent mark.kpi_indicator_inspector.percent %> </td>
				<td><nobr><%= kpi_value plan_view(mark.plan(period_indicator), mark, period_indicator, period, period_user), 
								        period_indicator.kpi_unit.abridgement %></nobr></td>
				<td><nobr><%= kpi_value(fact_view(mark, period, period_indicator, period_user), period_indicator.kpi_unit.abridgement, mark.fact_value.to_f<0) %></nobr></td>		
				<% 
				completion = cut_completion(mark.completion(period_indicator), period_indicator)
				marks[mark] = completion unless completion.nil? or mark.disabled
				have_enabled_marks = true unless mark.disabled
				 %>		
				<td><%= kpi_percent completion_view(mark, completion), completion.to_f<0 %></td>
				</tr>
			<% x+=1 %>
			<% end %>

			<tr class="I">
			<td colspan="6">
			<div class="portable_data" data-target-id="indicator_completion_<%= i %>_<%= j %>_<%= y %>">
			<% indicator_avg_completion[period_indicator] = get_avg_completion(marks) if have_enabled_marks %>
			<%= kpi_percent indicator_avg_completion[period_indicator], indicator_avg_completion[period_indicator].to_f<0 %>	
			</div>
			</td>
			</tr>

		<% y+=1 %>
		<% end %>


		<tr class="I">
		<td colspan="6">
		<div class="portable_data" data-target-id="cat_completion_<%= i %>_<%= j %>">
			<% cat_avg_completion[cat] = weighted_average_value(indicator_avg_completion) %>
			<%= kpi_percent cat_avg_completion[cat] %>
		</div>
		</td>
		</tr>
	
	<% j+=1 %>
	<% end %>	
	
	</tbody></table>


<div>
	<div class="R kpi_footnote">
			<span>
				<%= "<span class=\"selected\">#{l(:cacl_period_is_locked)}</span>".html_safe if period_user.locked? %>
				<% if period_user.for_closing? %>
					<% if  period_user.locked %>
						<%= link_to l(:reopen_period), {:controller => "kpi_period_users", :action => "reopen", :id => period_user.id}, :class => 'icon reopen_period' if User.current.admin? %>
					<% else  %>
						<%= link_to l(:close_period), {:controller => "kpi_period_users", :action => "close", :id => period_user.id}, :class => 'icon close_period'  %>
					<% end  %>
				<% end %>
			</span>
			<span class="kpi_factor">

			<%= kpi_ratio_view(kpi) %>
			</span>
	</div>
	<div class="C"></div>

</div>


	<% month_time_clock = period.get_month_time_clock %>
	<% base_salary_value = period_user.base_salary_value %>
	<% hours_value = hours_value(period_user) %>


	<div>
	<div class="R payment">

		<div class="formula"> 

		<div class="L no_fraction_item">
			<span class="sign">(</span>
		</div>

		<% if KpiCalcPeriod::BASE_SALARY_PATTERNS[period.base_salary_pattern] != 'only_jobprice' %>

		<div class="L no_fraction_item">
			<%= base_salary_view(period, period_user, @user, base_salary_value) %>		
		</div>


			<% unless period.exclude_time_ratio %>
				<div class="L no_fraction_item">
					<span class="sign">&times;</span>
				</div>		

			
				<div class="fraction">
				<div class="numerator">
				<span><span><%= hours_view(period_user, @user, hours_value) %></span><span class="no_align_unit"><%= l(:hour_unit_abridgement) %></span></span>
				</div>
				<div class="denominator">

				<%= kpi_value(month_time_clock.nil? ? 'x' : month_time_clock, l(:hour_unit_abridgement)) %>
				
				</div>
				</div>
			<% end %>

		<% end %>

		<% if KpiCalcPeriod::BASE_SALARY_PATTERNS[period.base_salary_pattern] == 'jobprice_and_salary' %>
			<div class="L no_fraction_item">
				<span class="sign">+</span>
			</div>
		<% end %>

		<% if KpiCalcPeriod::BASE_SALARY_PATTERNS[period.base_salary_pattern] != 'only_salary' %>
			<div class="L no_fraction_item">
				<%= job_prise_view(period_user, @user, period_user.jobprise) %>		
			</div>
		<% end %>

		<div class="L no_fraction_item">
			<span class="sign">)</span>
		</div>

		<div class="L no_fraction_item">
			<span class="sign">&times;</span>
		</div>	

		<div class="L no_fraction_item">
			<span><%= period_user.kpi_ratio_value(kpi).nil? ? 'x' : number_with_precision(period_user.kpi_ratio_value(kpi)/100, :strip_insignificant_zeros => true, :separator => '.') %></span>
		</div>

		<div class="L no_fraction_item">
			<span class="sign">+</span>
		</div>

		<% surcharge_details = period_user.get_surcharge_details %>
		<% if surcharge_details.any? %>
		<div class="L explanation_window no_fraction_item">
			<%= image_tag("info.png", :plugin=>:kpi)  %>
			<em>
				<table class="list">
				<% surcharge_details.each do |k,v| %>
					<tr><td><nobr><%= k %></nobr></td><td> <%= kpi_value(v, l(:money_unit_abridgement)) %></td></tr>
				<% end %>
				</table>
				<i></i>
			</em>
			
		</div>

		<% end %>

		<div class="L no_fraction_item">
			<span><%= subcharge_view(period_user, @user, period_user.subcharge_total) %></span>
		</div>


		<div class="L no_fraction_item">
			<span class="sign">&asymp;</span>
		</div>		
		<div class="L no_fraction_item">
			<span><%= kpi_value(kpi.nil? ? nil : period_user.get_salary(kpi), l(:money_unit_abridgement)) %></span>
		</div>	
		</div>
	</div>
	<div class="C"></div>
	</div>

	<script>
	jQuery('div.modal_window').hide();
	</script>
	<div class="C"></div>


