	<table class="list kpi_calc">
	<caption><%= period.kpi_pattern.name %></caption>
	<thead>
		<tr>
		<th><%= l(:label_kpi_indicators) %></th>
		<th><%= l(:label_mark_period) %></th>
		<th class="narrow"><%= l(:weight_label) %></th>
		<th class="narrow"><%= l(:label_plan) %></th>
		<th class="narrow"><%= l(:value_of_fact) %></th>
		<th class="narrow"><%= l(:percent_of_complete) %></th>
		</tr>
	</thead>
	<tbody>

	<% cat_avg_completion = {} %>

	<% j=0 %>
	<% period.kpi_period_categories.includes(:kpi_category, :kpi_period_indicators => {:kpi_marks => :inspector, :indicator => :kpi_unit}).each do |cat| %>
		<% color=cat.kpi_category.color %>
		<tr class="kpi_cat <%= color %>">
		<td colspan="2"><%= cat.kpi_category.name %></td>
		<td><%= kpi_percent cat.percent %></td>
		<td></td>
		<td></td>
		<td id="cat_completion_<%= i %>_<%= j %>"></td>
		</tr>
		<% y=0 %>
		<% indicator_avg_completion = {} %>

		<% cat.kpi_period_indicators.joins(:indicator).includes(:indicator => :kpi_unit).order("#{Indicator.table_name}.name").each do |period_indicator| %>

			<tr class="<%= color %> kpi_indicator">
			<td colspan="2"><%= link_to_indicator period_indicator.indicator %></td>
			<td><%= kpi_percent period_indicator.percent %></td>
			<td></td>
			<td></td>				
			<td id="indicator_completion_<%= i %>_<%= j %>_<%= y %>"></td>				
			</tr>
			<% marks = {} %>
			
			<% x=0 %>
			<% period_indicator.kpi_marks.joins(:inspector).where("#{KpiMark.table_name}.user_id = ?", @user.id).includes(:kpi_indicator_inspector, :inspector).order("#{User.table_name}.lastname").each do |mark| %>
				<tr class="<%= color %>">
				<td class="inspector"><%= link_to_user mark.inspector %></td>
				<td><%= mark.mark_period %> <small><%= link_to l(:change_fact), {:controller => 'kpi_marks', :action => 'index'} if mark.inspector == User.current %></small></td>
				<td><%= kpi_percent mark.kpi_indicator_inspector.percent %> </td>
				<td><nobr><%= kpi_value plan_view(mark.plan(period_indicator), mark, period_indicator, period), 
								        period_indicator.indicator.kpi_unit.abridgement %></nobr></td>
				<td><nobr><%= kpi_value mark.fact_value, period_indicator.indicator.kpi_unit.abridgement %></nobr></td>		
				<% 
				completion = mark.completion(period_indicator)
				marks[mark] = completion unless completion.nil?
				 %>		
				<td><%= kpi_percent completion %></td>
				</tr>
			<% x+=1 %>
			<% end %>

			<tr class="I">
			<td colspan="6">
			<div class="portable_data" data-target-id="indicator_completion_<%= i %>_<%= j %>_<%= y %>">
			<% indicator_avg_completion[period_indicator] = get_avg_completion(marks)  %>
			<%= kpi_percent indicator_avg_completion[period_indicator] %>	
			</div>
			</td>
			</tr>

		<% y+=1 %>
		<% end %>


		<tr class="I">
		<td colspan="6">
		<div class="portable_data" data-target-id="cat_completion_<%= i %>_<%= j %>">
			<% cat_avg_completion[cat] = weighted_average_value(indicator_avg_completion) %>
			<%= kpi_percent cat_avg_completion[cat] %>
		</div>
		</td>
		</tr>
	
	<% j+=1 %>
	<% end %>	
	
	</tbody></table>

	<div class="kpi_factor">
	<%= kpi_percent weighted_average_value(cat_avg_completion) %>
	</div>

	<script>
	jQuery('div.modal_window').hide();
	</script>

