<% content_for :sidebar do %>
<ul>
	<% if User.current.global_permission_to?('indicators', 'index') %>
		<li>
		<%=	link_to "<span>#{l(:label_kpi_indicators)}</span>".html_safe, 
					{:controller => "indicators", :action => "index"}, 
					:class=>"no_line #{'selected' if controller.controller_name=='indicators'}" 
		%>
		</li>
	<% end %>

	<% if User.current.global_permission_to?('kpi_patterns', 'index') %>
		<li>
		<%= link_to "<span>#{l(:label_kpi_patterns)}</span>".html_safe,
					{:controller => "kpi_patterns", :action => "index"},
					:class=>"no_line #{'selected' if controller.controller_name=='kpi_patterns'}" %>
		</li>
	<% end %>

	<% if User.current.global_permission_to?('kpi_calc_periods', 'index') %>
		<li>
		<%= link_to "<span>#{l(:label_kpi_calc_periods)}</span>".html_safe, {:controller => "kpi_calc_periods", :action => "index"}, :class=>"no_line #{'selected' if controller.controller_name=='kpi_calc_periods'}" %>
		</li>

	<% end %>

	<% if User.current.global_permission_to?('kpi_imported_values', 'update_values') %>
		<li>
		<%= link_to "<span>#{l(:imported_values)}</span>".html_safe, {:controller => "kpi_imported_values", :action => "edit_values"}, :class=>"no_line #{'selected' if controller.controller_name=='kpi_imported_values'}" %>
		</li>

	<% end %>

</ul>

<ul>
	<li>
	<%= link_to "<span>#{l(:label_kpi_marks)}</span>".html_safe, {:controller => "kpi_marks", :action => "index"}, :class=>"no_line" %>
		<% unless @estimated_users.nil? %>
			<ul id="kpi_marks_user_list">

			<% i=0 %>

			<% if @subordinated_estimated_users.any? %>
 
				<li><%= l(:marks_for_subordinates) %>
				<ul class="marks_for_subordinates">
				<% @subordinated_estimated_users.each do |user| %>
					<li><%= link_to user.name, '#', {:class => "in_link link_to_kpi_marks #{'selected' if i==0}", :data => {:user_id => user.id }} %> <small>(<%= @user_mark_counts[user] %>)</small></li>
					<% i+=1 %>
				<% end %>
				</ul>
				</li>
			<% end %>

			<% if @not_subordinated_estimated_users.any? %>		
				<li><%= l(:marks_for_other) %>
				<ul class="marks_for_not_subordinates">
				<% @not_subordinated_estimated_users.each do |user| %>
					<li><%= link_to user.name, '#', {:class => "in_link link_to_kpi_marks #{'selected' if i==0}", :data => {:user_id => user.id }} %> <small>(<%= @user_mark_counts[user] %>)</small></li>
					
					<% i+=1 %>
				<% end %>
				</ul>
				</li>	
			<% end %>			
			</ul>

			
		<% end %>
	</li>

	<li>
	<%= link_to "<span>#{l(:label_my_effectiveness)}</span>".html_safe, 
				{:controller => "kpi", :action => "effectiveness", :date => params[:date] || nil, :user_id => User.current.id},
				:class=>"no_line #{'selected' if controller.action_name=='effectiveness' and @user.id==User.current.id}" %>
	</li>

</ul>

<%= show_sidebar_users %>

<% end %>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'kpi.js', :plugin => 'kpi' %>
  <%= stylesheet_link_tag 'kpi.css', :plugin => 'kpi' %>
<% end %>