<div class="contextual">
<%= render :partial => 'kpi/period_links' %>
</div>


<h2><%=l(:label_effectiveness)%> <%= @user.name %></h2>

<% if @periods.any? %>

<% i=0 %>

<% @periods.each do |period| %>
	<div id="calc_period_<%= period.id %>" class="H">
	<%= render :partial => 'kpi/period_effectiveness', :locals => { :period => period, :i => i } %>
	</div>

<% i+=1 %>
<% end %>

<% else %>
	 <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render :partial => 'kpi/sidebar' %>

