<% if @indicator_save_errors.any? %>
  <div id="errorExplanation">
  <ul>
<% @indicator_save_errors.each do |error| %>
  <li><%= h error %></li>
<% end %>
  </ul>
  </div>
<% end %>


<div class="splitcontentleft">
<% if @pattern.indicators.any? %>

  <%= form_for(@pattern, :remote => true, :url => {:controler => 'kpi_patterns', :action => 'update_indicators'},
               :html => {:method => :post}) do |f| %>
  <table class="list indicators">
    <thead><tr>
      <th><%= l(:indicator_label) %></th>
      <th style="width:5%"><%= l(:weight_label) %></th>
      <th style="width:5%"></th>
    </tr></thead>
    <tbody>
    <% last_category=nil %>
    <% color='' %>
    <% i=1 
       j=1000 %>
    <% @pattern.kpi_pattern_indicators.sort_by{|e| e.indicator.kpi_category.name.to_s+e.indicator.name.to_s}.each do |pattern_indicator| %>
      <% if last_category!=pattern_indicator.indicator.kpi_category %>
        <% last_category=pattern_indicator.indicator.kpi_category %>
        <% color=last_category.color %>
        <tr class="<%= color %>">
          <td><b><%= last_category.name %></b></td>
          <td class="weight"><input tabindex="<%= j %>" type="text" name="cat_percent[<%= h last_category.id %>]" value="<%= @category_weights[last_category.id.to_s] %>" /> </td>
          <td></td>
          <% j+=1 %>
        </tr>
      <% end %>
      <tr id="indicator-<%= pattern_indicator.indicator.id %>" class="<%= cycle 'odd', 'even' %> <%= color %>">
        <td class="indicator"><%= link_to h(pattern_indicator.indicator.name), edit_indicator_path(pattern_indicator.indicator) %></td>
        <td class="weight">
        <input type="text" tabindex="<%= i %>" name="percent[<%= h pattern_indicator.id %>]" value="<%= h pattern_indicator.percent %>" />
        </td>
        <td class="buttons">
            <%= delete_link({:controler => "kpi_patterns", :action => 'remove_indicator', :indicator_id => pattern_indicator.id}, {:method => :delete, :remote => true}) %>
        </td>
      </tr>
      
      <% i+=1 %>
    <% end %>
    </tbody>
  </table>

  <p><%= submit_tag l(:button_save) %></p>

  <% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
<% indicators = Indicator.not_in_kpi_pattern(@pattern).all(:limit => 100) %>
<% if indicators.any? %>
  <%= form_for(@pattern, :remote => true, :url => {:controler => 'kpi_patterns', :action => 'add_indicators'},
               :html => {:method => :post}) do |f| %>
    <fieldset><legend><%=l(:label_indicator_new)%></legend>
    <p><%= label_tag "indicators_search", l(:label_indicator_search) %><%= text_field_tag 'indicators_search', nil %></p>

    <%= javascript_tag "observeSearchfield('indicators_search', 'indicators', '#{ escape_javascript autocomplete_for_indicator_kpi_pattern_path(@pattern) }')" %>


    <div id="indicators">
      <%= indicators_check_box_tags 'indicator_ids[]', indicators %>
    </div>

    <p><%= submit_tag l(:button_add) %></p>
    </fieldset>
  <% end %>
<% end %>

</div>
