<div class="splitcontentleft">
<% if @pattern.users.any? %>
  <table class="list users">
    <thead><tr>
      <th><%= l(:label_user) %></th>
      <th style="width:15%"></th>
    </tr></thead>
    <tbody>
    <% @pattern.users.sort.each do |user| %>
      <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
        <td class="user"><%= link_to_user user %></td>
        <td class="buttons">

        <%= delete_link({:controller => "kpi_patterns", :action => 'remove_user', :user_id => user.id}, {:method => :delete, :remote => true}) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
<% users = User.active.not_in_kpi_pattern(@pattern).all(:limit => 100) %>
<% if users.any? %>
  <%= form_for(@pattern, :url => {:controller => "kpi_patterns", :action => "add_users"}, :html => {:method => :post, :remote => true}) do |f| %>
    <fieldset><legend><%=l(:label_user_new)%></legend>
    <p><%= label_tag "user_search", l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>

    <%= javascript_tag "observeSearchfield('user_search', 'users', '#{ escape_javascript autocomplete_for_user_kpi_pattern_path(@pattern) }')" %>

    <div id="users">
      <%= principals_check_box_tags 'user_ids[]', users %>
    </div>

    <p><%= submit_tag l(:button_add) %></p>
    </fieldset>
  <% end %>
<% end %>

</div>
