<div id="kpi_pattern_warnings">
<%= render :partial => 'kpi/warnings' %> 
</div>

<div class="contextual">
<%= render :partial => 'kpi/kpi_common_links' %>
</div>

<h2><%=l(:label_kpi_patterns_edit)%></h2>

<%= render_tabs kpi_patterns_settings_tabs %>

<%= render :partial => 'kpi/sidebar' %>