<div class="contextual">
<%= render :partial => 'kpi/kpi_common_links' %>
</div>

<h2><%= l(:label_kpi_patterns) %></h2>

<% if @patterns.any? %>

<table class="list patterns">
<thead>
	<tr>
	<th><%= l(:label_kpi_indicators) %></th>
	<th></th>
	</tr>
</thead>

<tbody>
<% @patterns.each do |pattern| %>
	<tr class="<%= 'not_integrity' if pattern.integrity %>">
		<td><%= link_to h(pattern.name), edit_kpi_pattern_path(pattern) %></td>
		<td class="buttons">
			<%= link_to(l(:button_copy), { :controller => 'kpi_patterns', :action => 'new', :copy_from => pattern }, :class => 'icon icon-copy') %>

		    <%= link_to(l(:button_delete), kpi_pattern_path(pattern),
		                                   :method => :delete,
		                                   :confirm => l(:text_are_you_sure),
		                                   :class => 'icon icon-del') %>
		</td>
	</tr>
<% end %>
</tbody>

</table>

<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render :partial => 'kpi/sidebar' %>