
<div class="contextual">
</div>

<h2><%=l(:mark_offers)%></h2>

<% if @mark_offers!=[] %>

<table class="list indicators">
<thead>
  <tr>
  <th><%= l(:employee) %></th>
  <th><%= l(:label_mark_period) %></th>  
  <th><%= l(:indicator) %></th>  
  <th></th>
  <th></th>
  </tr>
</thead>

<tbody>
<% @mark_offers.each do |offer| %>
  <tr>
  <td><%= link_to_user offer.user  %></td>
  <td><%= ((format_date offer.kpi_mark.start_date)+" &mdash; "+(format_date offer.kpi_mark.end_date)).html_safe %></td>
  <td><%= offer.kpi_mark.kpi_period_indicator.indicator.try(:name) %></td>  
  <td><% if offer.is_praise > 0 %> <%= image_tag 'thumb_up.png', :plugin => :kpi %> <% else %> <%= image_tag 'thumb_down.png', :plugin => :kpi %><% end %></td>
  <td>
      <%= link_to(l(:button_edit), { :controller => 'kpi_mark_offers', :action => 'edit', :id => offer }, :class => 'icon icon-edit') %>

        <%= link_to(l(:button_delete), kpi_mark_offer_path(offer),
                                       :method => :delete,
                                       :confirm => l(:text_are_you_sure),
                                       :class => 'icon icon-del') %>
  </td>
  </tr>
<% end %>
</tbody>

</table>

<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render :partial => 'kpi/sidebar' %>