<%= error_messages_for 'period' %>

<div class="h">
<div class="box tabular">
<p>
	<label for=""><%= l(:calc_period) %> <span class="required"> *</span></label>
	<%= select_month(Date.today, :use_short_month => true) %>
	<%= select_year(Date.today, :start_year => Date.today.year, :end_year => Date.today.year+1) %>
</p>

<p>
	<%= f.select :kpi_pattern_id, (@patterns.collect {|p| [p.name, p.id]}), :required => true %>
</p>

</div>
</div>

<div>
<%= submit_tag l(@period.new_record? ? :button_create : :button_save) %>
</div>