<%= render :partial => 'kpi/errors' %>

<div class="splitcontentleft">
<% if @period.kpi_indicator_inspectors.any? %>
<%= form_for(@period, :remote => true, :url => update_inspectors_kpi_calc_period_path(@period),
               :html => {:method => :post}) do |f| %>
  <table class="list indicators">
    <thead>
    	<tr>
      	<th><%= l(:label_kpi_indicators) %></th>
      	<th><%= l(:label_inspector_list) %></th>
      	<th style="width:5%"><%= l(:weight_label) %></th>
      	<th style="width:5%"></th>
   		</tr>
   	</thead>
    <tbody>
    <% last_indicator_id=0
       i=1 %>
    <% @period.kpi_indicator_inspectors.includes(:kpi_period_indicator => [:indicator]).sort_by{|e| e.kpi_period_indicator.indicator.name}.each do |e| %>
      <tr id="indicator-<%= e.kpi_period_indicator.indicator.id %>" class="<%= cycle 'odd', 'even' %> <%= e.kpi_period_indicator.indicator.kpi_category.color %>">
        <td class="indicator">
        	<% if e.kpi_period_indicator_id!=last_indicator_id %>
        		<%= link_to h(e.kpi_period_indicator.indicator.name), edit_indicator_path(e.kpi_period_indicator.indicator) %>
        	<% end %>
        	<% last_indicator_id = e.kpi_period_indicator_id %>
        </td>
        <td class="user"><%= link_to_user e.user %></td>
        <td class="weight">
        <input type="text" tabindex="<%= i %>" name="percent[<%= h e.id %>]" value="<%= h e.percent %>" />
        </td>
        <td class="buttons">
            <%= link_to_remote(
                  l(:button_delete),
                  { :url => remove_inspector_kpi_calc_period_path(:id => @period.id, :indicator_inspector_id => e.id),
                    :method => :delete },
                  :class => 'icon icon-del'
                ) %>
        </td>
      </tr>
      <% i+=1 %>
    <% end %>
    </tbody>
  </table>

<p><%= submit_tag l(:button_save) %></p>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<p class="nodata"><%= l(:label_head_is_inspector_if_you_havenot_checked_message) %></p>

</div>



<div class="splitcontentright">
<% if @period.kpi_period_indicators.any? %>

<fieldset><legend><%=l(:label_kpi_indicators)%></legend>
<%= form_for(:inspector, :remote => true, :url => { :action => 'add_inspectors', :id => @period }) do %>
<%= label_tag "inspector_indicator_id", l(:description_choose_project), :class => "hidden-for-sighted" %>
<%= select 'inspector', 'period_indicator_id', @period.kpi_period_indicators.includes(:indicator).collect{|e| [e.indicator.name, e.id]} %>

<p><%= label_tag "user_search", l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>

<%= observe_field(:user_search,
                 :frequency => 0.5,
                 :update => :users,
                 :url => autocomplete_for_user_kpi_calc_period_path(@period),
                 :method => :get,
                 :before => '$("user_search").addClassName("ajax-loading")',
                 :complete => '$("user_search").removeClassName("ajax-loading")',
                 :with => 'q')
                  %>

<div id="users">
    <%= principals_check_box_tags 'user_ids[]', @users %>
</div>

<p><%= submit_tag l(:button_add) %></p>
<% end %>
</fieldset>
<% end %>
</div>