<div id="kpi_pattern_warnings">
<%= render :partial => 'kpi/warnings' %> 
</div>

<div class="contextual">

<%= link_to l(:make_period_active), {:controller => "kpi_calc_periods", :action => "activate", :id => @period}, :class => 'icon activate_period' if not @period.active %>

<%= link_to l(:close_period_for_all), {:controller => "kpi_calc_periods", :action => "close", :id => @period}, :class => 'icon close_period' if @period.for_closing? %>

<%= render :partial => 'kpi/kpi_common_links' %>
</div>

<h2><%=l(:label_calc_period_edit)%></h2>

<%= render_tabs kpi_periods_settings_tabs %>

<%= render :partial => 'kpi/sidebar' %>