<% marks = @marks.reject{|m| m.user_id!=tab[:user_id]} %>

<% if marks.any? %>

<%= form_tag({:controller => 'kpi_marks', :action => 'update_user_marks', :user_id => tab[:user_id]}, :method => :post, :remote => true, :class => 'kpi_marks',:id => "mark_form_#{tab[:user_id]}") do |f| %>
	<%= hidden_field_tag 'date', @date %>
	<table class="list">
			<thead>
				<tr>
				<th><%= l(:label_mark_period) %></th>
				<th><%= l(:label_kpi_indicators) %></th>
				<th style="width:5%"><%= l(:label_plan) %></th>
				<th style="width:10%"><%= l(:my_kpi_mark) %></th>
				<th><%= l(:kpi_mark_desc) %></th>
				<% if User.current.admin? or @user.subordinate? %>
					<th><%= l(:exclude) %></th>
				<% end %>
				</tr>
			</thead>
			<tbody>

<% i=0 %>
<% marks.each do |mark| %>
<% 
	i+=1
	indicator=mark.kpi_indicator_inspector.kpi_period_indicator.indicator

%>

	<tr>
	<td>
		<%= format_date mark.start_date %> &mdash; <%= format_date mark.end_date %>
	</td>
	<td>
		<%= link_to_indicator indicator %>
	</td>
	<td>
	<% kpi_period_indicator = mark.kpi_indicator_inspector.kpi_period_indicator %>
	<span id="plan_value_<%= mark.id  %>" data-plan-value="<%= mark.plan(kpi_period_indicator) %>">
		<%= kpi_value mark.plan(kpi_period_indicator), indicator.kpi_unit.abridgement %>
	</span>
	</td>
	<td class="fact_value">
	<nobr><%= get_indicator_input(mark, "mark[#{mark.id}]", i)  %> </nobr>
	</td>
	<td>
	<%= text_area_tag "explanation[#{mark.id}]", mark.explanation, :size => "40x1", :class => 'explanation ' + (mark.explanation.to_s=='' ? '' : 'completed') %>
	</td>
	<td>
	<%= hidden_field_tag "disabled[#{mark.id}]", 0, :id => "disabled_ht_#{mark.id}" %>
	<% if @user.kpi_mark_can_be_disabled?(mark) %>
		<%= check_box_tag "disabled[#{mark.id}]", 1, mark.disabled, :class => 'enable_field', 'data-rel-element' => "mark_#{mark.id}" %>
	<% end %>

	</td>
	</tr>
<% end %>

</tbody></table>

<p><%= submit_tag l(:button_save), :class => 'kpi_mark_submit_button' %> </p>
<% end %>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>

<% end %>

<script>validate_explanation();</script>