<% if @mark.kpi_mark_offers != [] %>
  <div class="L right_indent_10">
  <%= render :partial => "kpi_mark_offers/mark_offer_details" %>
  </div> 
  <div class="L left_divider_5">
<% end %>

<%= form_for @mark, :remote => true, :url => {:controller => 'kpi_marks', :action =>'update_fact', :id => @mark.id}, :html => {:method => :post} do |f| %>
<%= f.hidden_field :i, :value => params[:i] %>

<% plan = @mark.plan(@mark.kpi_indicator_inspector.kpi_period_indicator) %>
<p id="plan_value_<%= @mark.id %>" data-plan-value="<%= plan %>" class="I">
<span class="value"><%= plan %></span>
</p>
<p>
<%= label_tag 'kpi_mark_fact_value', l(:value_of_fact) %>:<br>
<%= get_indicator_input(@mark, 'kpi_mark[fact_value]') %>
</p>
<p>
<%= label_tag 'kpi_mark_explanation', l(:kpi_mark_desc) %>:<br>
<%= text_area_tag "kpi_mark[explanation]", @mark.explanation, :size => "40x1", :id => "explanation_#{@mark.id}", :class => 'explanation ' + (@mark.explanation.to_s=='' ? '' : 'completed') %>
</p>
<%= submit_tag l(:button_save), :class => 'kpi_mark_submit_button' %>
<% end %>

<% if @mark.kpi_mark_offers != [] %>
  </div>
<% end %>

<script>
  validate_explanation();	
	jQuery('#kpi_mark_fact_value').focus();
  numeric_value(jQuery('#kpi_mark_fact_value'));
</script>
