<script>
build_chart('<%= "mark_chart_#{@mark.id}" %>', '<%= "mark_data_#{@mark.id}" %>');
</script>

<div id="mark_data_<%= @mark.id %>">

<% kpi_unit = @period_indicator.kpi_unit.abridgement %>

<div class="I">    
<div id="chart_title"><%= l(:calc_values_and_execution_of_plan) %></div>
<div id="x_axis_unit"><%= kpi_unit %></div>
<div id="chart_fact"><%= l(:value_of_fact) %></div>
<div id="chart_percent"><%= l(:percent) %></div>
<div id="chart_matrix"><%= l(:matrix) %></div>
<div id="chart_calc_values"><%= l(:chart_calc_values) %></div>
<% if @period_indicator.check_for_cutting? %> 
    <div id="available_values"><%= l(:chart_available_values) %>: <%= @period_indicator.min_effectiveness %> % &mdash; <%= @period_indicator.max_effectiveness %> % </div>
    <div id="min_available_value"><%= @period_indicator.min_effectiveness %></div>
    <div id="max_available_value"><%= @period_indicator.max_effectiveness %></div>
<% end %>
</div>

<% completion = @mark.completion(@period_indicator) %>
<% calc_values = [] %>
<% if @period_indicator.interpretation.to_s==Indicator::INTERPRETATION_FACT.to_s %>
    <div class="values_of_matrix">
        <span data-x="<%= @mark.plan_value %>" data-y="100"></span>
        <span data-x="<%= @mark.fact_value %>" data-y="<%= completion %>"></span>
    </div>
    <div class="values_of_calc">
        <span data-x="<%= @mark.plan_value %>" data-y="100"></span>
        <span data-x="<%= @mark.fact_value %>" data-y="<%= completion %>"></span>        
    </div>
    <div class="values_of_fact">
        <span data-x="<%= @mark.fact_value %>" data-y="<%= completion %>"></span>     
    </div>
    <% calc_values.push(@mark.plan_value) %>
<% else %>
    <% get_matrix_calc_values = @mark.get_matrix_calc_values(@period_indicator) %>
    <div class="values_of_matrix">
        <% @period_indicator.matrix['value_of_fact'].each_index do |k| %>
            <span data-x="<%= @period_indicator.matrix['value_of_fact'][k] %>" data-y="<%= @period_indicator.matrix['percent'][k] %>"></span>
        <% end %>
        <% if get_matrix_calc_values[:equivalence_type]=='out_of_range' %>
            <span data-x="<%= @mark.fact_value %>" data-y="<%= get_matrix_calc_values[:y] %>"></span>   
        <% end %>
    </div>
    <div class="values_of_calc">
        <% get_matrix_calc_values[:calc_values].each do |calc_value| %>
        <span data-x="<%= calc_value[0] %>" data-y="<%= calc_value[1] %>"></span>  
        <% calc_values.push(calc_value[0]) %>
        <% end %>
    </div>
    <div class="values_of_fact">
        <span data-x="<%= @mark.fact_value %>" data-y="<%= get_matrix_calc_values[:y] %>"></span>     
    </div>

<% end %>

</div>

<div class="mark_chart" id="mark_chart_<%= @mark.id %>"></div>

<% if not @issues.nil? %>

<div class="indicator_percent_desc L">

<% if not @mark.fact_date.nil? %>
    <div class="description"> 

        <%= l(:the_last_cakculation_was_made_on_this_indicator) %>  &mdash; <%= time_tag @mark.fact_date %> <%= l(:ago) %>

    </div>
<% end %>

<div class="caption"><%= l(:what_issues_are_involved_in_the_calculation) %>:</div>
<%= render :partial => "kpi_marks/info/#{Indicator::FACT_PATTERNS[@period_indicator.pattern.to_s]}", :locals => { :completion => completion, :kpi_unit => kpi_unit, :calc_values => calc_values} %>

</div>

<% end %>