<%= error_messages_for 'indicator' %>

<div class="h">
<div class="L left_form_part">
<div class="box tabular">

<p><%= f.text_field :name, :required => true, :label => l(:kpi_indicator_name_label), :style=>'width: 98%;' %></p>
<p><%= f.select :input_type, (Indicator::INPUT_TYPES.map{|k,v| [l("input_type_#{v}"), k]}), :required => true %></p>
<p><%= f.select :kpi_category_id, (@kpi_categories.collect {|p| [p.name, p.id]}), :label => l(:kpi_category_label), :required => true %></p>
<p><%= f.select :kpi_unit_id, (@kpi_units.collect {|p| [p.name, p.id]}), :label => l(:kpi_indicator_unit_label), :required => true %></p>
<p><%= f.select :num_on_period, get_num_on_period, :required => true %></p>
<p><%= f.check_box :objective %></p>
<p>   <%= f.text_area :description,
                   :cols => 60,
                   :rows => (@indicator.description.blank? ? 10 : [[10, @indicator.description.length / 50].max, 70].min),
                   :class => 'wiki-edit',
                   :no_label => true %>
</p>
</div>
</div>

<div class="L right_form_part">
<div class="box tabular">

<fieldset>
<legend><%= l(:editing_fact_pattern) %></legend>
<p><%= f.select :pattern, get_fact_pattern_options, {:label => l(:kpi_fact_pattern), :required => false}, {'data-cf' => 'kpi_pattern_custom_fields', :class => 'patten_sb'} %></p>


<div id="kpi_pattern_custom_fields">
<p class="I kpi_pattern_custom_field_1 kpi_pattern_custom_field_5">
<%= label_tag 'indicator_pattern_settings_mark_custom_field', l(:mark_custom_field) %>
<%= select_tag 'indicator[pattern_settings][mark_custom_field]', options_for_mark_custom_field(@indicator) %>
</p>
<p class="I kpi_pattern_custom_field_5 kpi_pattern_custom_field_4">
<%= label_tag 'indicator_pattern_settings_role', l(:if_has_role) %>
<%= select_tag 'indicator[pattern_settings][role]', options_for_role(@indicator) %>
</p>
<p class="I kpi_pattern_custom_field_6">
<%= label_tag 'indicator_pattern_settings_imported_value_id', l(:imported_value) %>
<%= select_tag 'indicator[pattern_settings][imported_value_id]', options_for_imported_values(@indicator) %>
</p>
<p class="I kpi_pattern_custom_field_7">
<%= label_tag 'indicator_pattern_settings_indicator_id', l(:indicator) %>
<%= select_tag 'indicator[pattern_settings][indicator_id]', options_for_indicator(@indicator) %>
</p>
</div>

</fieldset>

<fieldset>
<legend><%= l(:editing_plan_pattern) %></legend>
<p><%= f.select :pattern_plan, get_plan_pattern_options, {:label => l(:kpi_fact_pattern), :required => false}, {'data-cf' => 'kpi_pattern_plan_custom_fields', :class => 'patten_sb'} %></p>


<div id="kpi_pattern_plan_custom_fields">
<p class="I kpi_pattern_custom_field_1">
<%= label_tag 'indicator_pattern_settings_role', l(:imported_value) %>
<%= select_tag 'indicator[pattern_plan_settings][imported_value_id]', options_for_imported_values(@indicator, true) %>
</p>
<p class="I kpi_pattern_custom_field_1">
<%= label_tag 'indicator_pattern_settings_imported_value_percent', l(:imported_value_percent) %>
<%= text_field_tag 'indicator[pattern_plan_settings][imported_value_percent]', !@indicator.pattern_plan_settings.nil? && !@indicator.pattern_plan_settings['imported_value_percent'].nil? ? @indicator.pattern_plan_settings['imported_value_percent'] : 100, :class => 'weight', :maxlength => 3 %>
</p>
</div>

</fieldset>

<fieldset>
<legend><%= l(:editing_matrix_of_interpretation) %></legend>
<p><%= f.select :interpretation, ([[l("kpi_interpretation_label_#{Indicator::INTERPRETATION_FACT}"), Indicator::INTERPRETATION_FACT],
								  [l("kpi_interpretation_label_#{Indicator::INTERPRETATION_MATRIX}"), Indicator::INTERPRETATION_MATRIX]]),
								  :label => l(:kpi_interpretation_label), :required => true %></p>

<% if @indicator.interpretation.to_s==Indicator::INTERPRETATION_FACT.to_s or @indicator.interpretation.nil? %>
    <% table_style='style="display:none;"'.html_safe %>
    <% abs_int_style='' %>
<% else %>
    <% table_style='' %>
    <% abs_int_style='style="display:none;"'.html_safe %>
<% end %>

<div id="kpi_matrix_div" <%= table_style %>>
<table class="list" id="kpi_matrix">
<tr>
<th><%= l(:indicator_title) %></th>
<th><%= l(:value_of_fact) %></th>
<th><%= l(:percent) %></th>
<th></th>
</tr>

<% if !@indicator.matrix.nil? and !@indicator.matrix['value_of_fact'].nil? %>
	<% style='style="display:none;"'  %>
	<% style='' if @indicator.matrix['value_of_fact'].size>2 %>
	<% @indicator.matrix['value_of_fact'].each do |v| %>
		<% index = @indicator.matrix['value_of_fact'].index(v)  %>
		<% title = @indicator.matrix['title'].nil? ? '' : @indicator.matrix['title'][index] %>
		<%= get_matrix_row(v, @indicator.matrix['percent'][index], style, title) %>
	<% end %>
<% else %>
	<%= get_matrix_row %>
	<%= get_matrix_row %>
<% end %>
</table>

<br/>
<a href="#" id="fill_mark_values"><%= l(:fill_mark) %></a>

<div class="I" id="kpi_mark_values">
<span><div><%= l(:great_mark) %></div><div>150</div><div>150</div></span>
<span><div><%= l(:good_mark) %></div><div>100</div><div>100</div></span>
<span><div><%= l(:satisfactory_mark) %></div><div>50</div><div>50</div></span>
<span><div><%= l(:bad_mark) %></div><div>0</div><div>0</div></span>
<span><div><%= l(:terribly_mark) %></div><div>-50</div><div>-50</div></span>
</div>
</div>


<div id="absolute_interpretation_settings"  <%= abs_int_style %>>
<p><%= f.text_field :max_effectiveness, :required => false, :label => l(:kpi_indicator_max_effectiveness_label), :class => 'weight' %></p>
<p><%= f.text_field :min_effectiveness, :required => false, :label => l(:kpi_indicator_min_effectiveness_label), :class => 'weight' %></p>
</div>

</fieldset>

</div>
</div>

</div>

<div>
<%= submit_tag l(@indicator.new_record? ? :button_create : :button_save) %>
</div>