<%= form_tag({:controller => "kpi_imported_values", :action => 'update_values'}, :remote => true) do %>
<%= hidden_field_tag :full_date, @date %>

<table class="list patterns">
    <thead>
        <tr>
        <th><%= l(:imported_value_name) %></th>
        <th><%= l(:label_plan) %></th>
        <th><%= l(:value_of_fact) %></th>
        <th></th>
        </tr>
    </thead>


    <tbody>

    <% @values.each do |value| %>
        <tr>
            <td><%= h value.name %> </td>
            <td class="fact_value"><%= text_field_tag "imported_value[#{value.id}][plan_value]", value.attributes['plan_value'] , :class => "#{'completed' unless value.attributes['plan_value'].nil? }" if value.plan_value_enable %></td>
            <td class="fact_value"><%= text_field_tag "imported_value[#{value.id}][fact_value]", value.attributes['fact_value']  , :class => "#{'completed' unless value.attributes['fact_value'].nil? }" if value.fact_value_enable %></td>
            <td>
            <%= link_to(l(:button_delete), {:controller => "kpi_imported_values", :action => "destroy", :id => value.id, "date[month]"=>@date.month, "date[year]"=>@date.year },
                                           :method => :delete,
                                           :confirm => l(:text_are_you_sure),
                                           :class => 'icon icon-del') %>         
            </td>   
        </tr>
    <% end %>
    </tbody>
</table>
<%= submit_tag(l(:button_save)) %>
<% end %>

<script>
jQuery('a.refreshable').each(function(){
    jQuery('modal-'+jQuery(this).attr('id')).hide()
    })
</script>