<div class="contextual">

<div id="select_period_date" class="L">
<%= form_tag({:controller => "kpi_imported_values", :action => 'edit_values'}, :method => :get) do %>
    <%= select_month(@date, :use_short_month => true) %>
    <%= select_year(@date, :start_year => Date.today.year-1, :end_year => Date.today.year+1) %>
    <%= submit_tag(l(:show)) %>
<% end %>

</div>

<%= link_to_modal_window l(:add_new_imported_value), {:controller => 'kpi_imported_values', :action=> 'new', :full_date => @date}, {:class => "refreshable click_out"} %>
</div>

<h2><%= l(:imported_values) %></h2>

<% if @values.any? %>
<div id="imported_values_form">
<%= render :partial => 'kpi_imported_values/form' %>
</div>
<% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render :partial => 'kpi/sidebar' %>